@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&family=Smooch&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: aliceblue;
}

.title {
    padding: 5px;
    margin: 5px;
    font-family: 'Smooch', cursive;
    font-size: 42px;
}

.navbar-nav li {
    margin-left: 10px;
}

.navbar-toggler {
    margin-left: 90%;
}

.nav-link1 {
    background-color: rgb(49, 49, 128);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.atitle {
    font-size: 36px;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.ctitle {
    font-size: 36px;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.contact {
    background-color: rgb(49, 49, 128);
    color: aliceblue;
}

.contitle {
    font-size: 36px;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    color: black;
}

.card-img-top1 {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 38vh;
    object-fit: cover;
}

.details p {
    padding: 30px;
    font-size: 16px;
    margin: 5px;
}

.details p a{
    text-decoration: none;
    font-size: 18px;
}

.feedback {
    margin: 5px;
    padding: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
}

.btn {
    padding: 3px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
}

.btn-top {
    padding: 3px;
    margin: 2px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(49, 49, 128);
    color: aliceblue;
    top: 2%;
    text-align: center;
    display: block;
    text-decoration: none;
}

.modal-dialog {
    background-image: url('modal.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;    
}

.btn-close {
    float: right;
}

.invitation {
    top: 40%;
    position: absolute;
    padding: 5px;
    background-color: black;
    color: white;
    font-family: 'Grape Nuts', cursive;
    justify-content: center;
}

.heading {
    padding: 5px;
    margin: 5px;
    font-size: 54px;
}

.date {
    font-size: 32px;
}

.time {
    font-size: 24px;
}

.addr {
    font-size: 20px;
}

@media (max-width: 580px){
    .card {
        width: 63%;
    }

}










